<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un produit</title>
</head>
<body>
<h2>Ajouter un produit</h2>

<form th:action="@{/seller/products/save}" th:object="${itemDTO}" method="post">

    <label>Nom du produit :</label>
    <input type="text" th:field="*{name}" placeholder="Nom" required/><br/>

    <label>Description :</label>
    <input type="text" th:field="*{description}" placeholder="Description" required/><br/>

    <label>Numéro de série :</label>
    <input type="text" th:field="*{serialNumber}" placeholder="Numéro de série" required/><br/>

    <label>Prix :</label>
    <input type="number" th:field="*{price}" placeholder="Prix" step="0.01" required/><br/><br/>

    <button type="submit">Ajouter</button>
</form>

<a th:href="@{/seller/products}">Retour à la liste des produits</a>
</body>
</html>
